<div id="contact-us">


  <div class="sub-header">
    <div class="header-text">Request Information</div>
  </div>
  <div class="background-area">
    <div class="form-area">
      <form>
        <div>
          <label class="fx-label"><span class="asterisk">*</span>First name:</label>
          <input type="text" name="firstName"/>

        </div>
        <div>
          <label class="fx-label"><span class="asterisk">*</span>Last name:</label>
          <input type="text" name="lastName"/>
        </div>
        <div>
          <label class="fx-label"><span class="asterisk">*</span>Email:</label>
          <input type="text" name="email"/>
        </div>
        <div class="message">
          <label class="fx-label"><span class="asterisk">*</span>Message:</label>

          <div class="our-terms">
            <p><a href="./#terms">Read Our terms</a></p>

            <p>
              <input id="agree_box" name="agreeBox" type="checkbox"/>
              <label class="fx-label" for="agree_box"><span class="asterisk">*</span>Click here to agree</label>
            </p>
          </div>
          <textarea name="message"></textarea>
        </div>

        <div class="duns-image">
          <!--<img src="../images/secure/duns-registered.gif" alt="Duns Registered">-->
        </div>
        <div class="contact-details">
          <span class="fx-text"><b>Email:</b> info@appfxtoys.com</span>
          <span class="fx-text"><b>Phone:</b> 503 395 5007</span>
        </div>

        <div class="submit-button fx-section">
          <div id="submit-button" class="fx-button">
            <span>Submit</span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--<div id="pop-up">-->
  <!--<div>No terms or conditions endorsed upon, delivered with or contained in the Seller's quotation,-->
  <!--acknowledgement or acceptance of order, specification or similar document will form part of the agreement-->
  <!--and the Seller waives any right which it otherwise might have to rely on such terms and conditions.-->
  <!--</div>-->
  <!--<div class="close"><span>X</span> Close</div>-->
  <!--</div>-->

</div>