<div id="fx-gallery">

  <div id="tracks">
    <div class="sub-header">
      <div class="header-text">Build Your Own</div>
    </div>
    <div class="background-area">
      <div class="description">
        <ul>
          <li>Create your own tracks</li>
          <li>Add your own buildings and other figures for the FX Car to navigate through</li>
          <li>Purchase our FX Track 3-color bundle and save $</li>
          <li>Unlimited creative uses</li>
          <li>Build interactive tracks with multi colored tape</li>
          <li>Take pictures of your creations and upload to our blog</li>
        </ul>
      </div>
      <div>
        <img class="main-image"/>
      </div>

      <div class="gallery">

        <div class="arrow">
          <a class="prev browse left"><span style="float:left"> < </span></a>
        </div>

        <!-- root element for scrollable -->
        <div class="fx-scrollable">

          <!-- root element for the items -->
          <div class="fx-items">

            <!-- 1-5 -->
            <div>
              <img src="../images/track/track1.jpg"/>
              <img src="../images/track/track2.jpg"/>
              <img src="../images/track/track3.jpg"/>
            </div>

            <!-- 5-10 -->
            <div>
              <img src="../images/track/track4.jpg"/>
            </div>

          </div>

        </div>

        <div class="arrow">
          <a class="next browse right"><span> > </span></a>
        </div>
      </div>


    </div>
  </div>
</div>