<div id="contact-us">
  <div class="mainSec">
    <div id="contactPrt">
      <h1>Contact Us</h1>
    </div>

    <div id="devicePrt">

      <div id="adddevicePrt">
        <div class="deviceFrmPrt">


          <div class="diviceFormPrt2">
            <div class="requestinfo"><h2>request information</h2></div>
            <div class="leftFrmPrt">


              <div class="fstnme">
                <label class="fx-label">
                  <span class="asterisk">*</span>
                  First name:
                </label>
                <input name="firstName" type="text" value="First Name" placeholder='First Name'/>
              </div>
              <div class="fstnme">
                <label class="fx-label">
                  <span class="asterisk">*</span>
                  Last name:
                </label>
                <input name="lastName" type="text" value="Last Name" placeholder='Last Name'/></div>
              <div class="fstnme">
                <label class="fx-label">
                  <span class="asterisk">*</span>
                  Email:
                </label>
                <input name="email" type="text" value="Email" placeholder='Email'/></div>
              <div class="yurmsge">
                <label class="fx-label">
                  <span class="asterisk">*</span>
                  Message:
                </label>
                <textarea name="message" cols="" rows="" placeholder='Your Message'>Your Message</textarea></div>
              <div class="termsCondition">
                <div class="clickBtn"><input id="agree_box" name="agreeBox" type="checkbox" value=""/></div>
                <p class="our-terms">Click here to agree to our <a href="#terms">Terms & Conditions</a></p>
              </div>

            </div>


          </div>

          <div class="rightEmail">
            <div class="emailBg">
              <div class="emailContnt">
                <h4>Email</h4>
                <a href="mailto:info@appfxtoys.com">info@appfxtoys.com</a>
              </div>
              <div class="phoneContact">
                <h4>Phone</h4>
                <span>503 395 5007</span>
              </div>
            </div>
            <div class="contactImages"><img src="../images/general/contact-images.jpg" alt="Contact Us"/></div>
            <!--<div class="secureImage"><img src="../images/secure/duns-registered.gif" alt="DUNS Registered"/></div>-->
          </div>


        </div>
      </div>

      <div class="requestBg">
        <div class="submitRequest">
          <div class="buletPoint"><img src="../images/general/frm-arow.png" alt="bulet"/></div>
          <div class="submitquest">
            <div class="submit-request">
              <a id="submit-button" href="#">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!--<div id="pop-up">-->
      <!--<div>No terms or conditions endorsed upon, delivered with or contained in the Seller's quotation,-->
        <!--acknowledgement or acceptance of order, specification or similar document will form part of the agreement-->
        <!--and the Seller waives any right which it otherwise might have to rely on such terms and conditions.-->
      <!--</div>-->
      <!--<div class="close"><span>X</span> Close</div>-->
    <!--</div>-->


  </div>
</div>