<div id="cart">
  <div class="background-area">
    <div id="cart-list">

    </div>

    <div class="fx-section">
      <div class="cost-total">
        <div><span class="fx-color fx-label">TOTAL</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
      <div id="handling" class="cost-handling">
        <div><span class="fx-label handling">+ HANDLING</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
    </div>
    <div class="fx-section grand-total">
      <div class="grand-total-area">
        <div><span class="fx-color fx-label">GRAND TOTAL</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
    </div>
    <div class="notice">
      <p class="fx-verbiage">* At this time, only Continental US orders are accepted through the website.
        All international shipments must be completed through email.
        Please send your request to <a href="mailto:world@appfxtoys.com" target="_blank">world@appfxtoys.com</a></p>
    </div>
    <div class="button-area">
      <div class="center-wide">
        <div class="fx-section checkout">
          <div id="checkout-button" class="fx-button">
            <span>Proceed To Checkout</span>
          </div>
        </div>
        <div class="fx-section clear">
          <div id="clear-button" class="fx-button">
            <span>Clear Cart</span>
          </div>
        </div>
        <div class="fx-section continue">
          <div id="continue-button" class="fx-button">
            <span>Continue Shopping</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>