<div id="receipt-of-order">
  <div class="background-area">
    <div class="fx-section congrads">
      <span class="fx-color header">CONGRATULATIONS !!!</span>
    </div>
    <p class="fx-text">
      Your order has been successfully placed and will be processed as soon as possible. A
      copy of this receipt has been sent to your email address. The item(s) will reach you
      within 5-7 business days via USPS.
    </p>
    <p class="fx-text">
      Your order ID is <b><%=id%></b>.
    </p>
    <p class="fx-text">Please contact us at <a href="info@appfxtoys.com">info@appfxtoys.com</a> with any questions you may have.</p>
    <p class="fx-text" id="app-code" style="visibility:hidden">iTunes store FX Driver download code: <b><%=code%></b></p>

  </div>
</div>