<div id="product-safety">
  <div class="inner">
    <h1>Product Design</h1>

    <div class="Product_Safety">
      <h2>Patent-pending Design</h2>
    </div>


    <p class="fx-verbiage top">
      Until now, you either had the video game or the toy. You most likely had both but they definitely did not interact with each other.
    </p>

    <p class="fx-verbiage">
      The TOY CAR has EVOLVED…drive yourself with your finger or watch the Driver react as you play with the toy.
    </p>

    <p class="fx-verbiage">
      <a class="link" href="./#car">FX Car</a> and <a class="link" href="./#getapp">FX Driver</a>: it does not replace the imagination, it super charges it.
    </p>

    <p class="fx-verbiage">
      Of course, a car isn’t really cool unless it’s eco-consious and the FX is extremely green. The green-as-a-shamrock FX is crafted of BPA-free, phthalate-free materials. You won’t find any lead, dioxins, (PCDDs) or mercury under this car’s hood (or anywhere on its gorgeous body and accessories, for that matter).
    </p>

    <p class="fx-verbiage">
      When the FX has come to the end of the road, after logging in 10,000 fun-filled miles, isn’t it great to know that it is entirely recyclable? From its stainless steel axis to its thick plastic body, the FX ranks 99% in reusability and can be disposed of at any recycling center when its days of road blazing glory are over.
    </p>

    <div id="background">
      <div id="car-top">
        <div class="front callout">
          <div style="display:none"><img src="../images/product/body_co.png" alt=""></div>
        </div>
        <div class="middle callout">
          <div style="display:none"><img src="../images/product/top_co.png" alt=""></div>
        </div>
        <div class="back callout">
          <div style="display:none"><img src="../images/product/speaker_co.png" alt=""></div>
        </div>
      </div>
      <div id="car-bottom">
        <div class="front callout">
          <div style="display:none"><img src="../images/product/axle_co.png" alt=""></div>
        </div>
        <div class="middle callout">
          <div style="display:none"><img src="../images/product/skirt_co.png" alt=""></div>
        </div>
        <div class="back callout">
          <div style="display:none"><img src="../images/product/wheel_co.png" alt=""></div>
        </div>
      </div>
      <div id="recycle">
        <div style="display:none"><img src="../images/product/recycle_co.png" alt=""></div>
      </div>
    </div>

    <div class="Product_Safety">
      <h2>Plastic you can trust</h2>
    </div>

    <div class="bottom-verbiage">
      <p class="fx-verbiage">
        After a careful and thorough selection process, we selected high-density polymer as it is the same plastic that you trust everyday…to contain your food.
      </p>

      <p class="fx-verbiage">
        For your information, BPA free is not the only thing that poses a risk. Other toxins are equally as dangerous, as they contain Mercury and hormones. Even recycled plastic, although environmental, do not guarantee safe handling. Unfortunately and fortunately, most toys using recyclable plastic use a negligible amount (less than 10%) it doesn’t adversly harm the environment or pose as much of a safety concern.
      </p>

      <p class="fx-verbiage">
        More costly and tougher to work with, we went above and beyond because we know it is not only about the design but rather the upmost quality that includes safety as its top priority.
      </p>

    </div>

  </div>
</div>