<div id="final-order">
  <div class="background-area">
    <div class="sub-header">
      <div class="header-text">Shipping Information</div>
    </div>
    <div class="shipping">
    </div>
    <div class="sub-header">
      <div class="header-text">Billing Information</div>
    </div>
    <div class="billing">
    </div>
    <div class="sub-header">
      <div class="header-text">Cart</div>
    </div>
    <div class="final-cart-items">
    </div>
    <div class="final-cart-items-handling">
      <div><span class="fx-text">Total: <span class="fx-color">$<%=total%></span></span></div>
      <div><span class="fx-text">Shipping and Handling: <span class="fx-color">$<%=handling%></span></span></div>
    </div>
    <div class="final-cart-items-total">
      <span class="fx-text">Grand Total: <span class="fx-color">$<%=grandTotal%></span></span>
    </div>


    <div id="purchase" class="fx-button">
      <span>Purchase</span>
    </div>
  </div>
</div>