<div id="get-app">
  <div class="inner">
    <h2>Get FX Driver iPhone App</h2>

    <div class="get-app">
      <span class="subheader">Latest version of the free or paid FX Driver App</span>

      <div class="icon-container">
        <div class="icon-lite">
          <div class="icon"><img src="../images/getapp/icon_lite.png" alt=""></div>
          <div class="text">Free lite version, download now (coming soon!)</a></div>
        </div>

        <div class="icon-full">
          <div class="icon"><a href="https://itunes.apple.com/us/app/fx-driver/id716379554?ls=1&mt=8" target="_blank"><img src="../images/getapp/icon_full.png" alt=""></a></div>
          <div class="text"><a href="https://itunes.apple.com/us/app/fx-driver/id716379554?ls=1&mt=8" target="_blank">Get the full version for only $0.99 with drive motion feedback!</a></div>
        </div>
      </div>
      <div class="store"><a href="https://itunes.apple.com/us/app/fx-driver/id716379554?ls=1&mt=8" target="_blank"><img src="../images/getapp/app_store.jpg" alt=""></a></div>
    </div>
  </div>


</div>
</div>
</div>