<div id="appstore">
  <div class="appstore-area">
    <div class="sub-header">
      <div class="header-text">Premium Edition</div>
    </div>
    <div class="background-area">
      <a href="https://itunes.apple.com/us/app/fx-driver/id716379554?ls=1&mt=8" target="_blank">
        <img class="banner" src="../images/mobile/home/app_mp.jpg">
      </a>
    </div>

    <div class="description">
      <ul>
        <li>Nearly an unlimited ways to play; unleash your imagination. Reign over the Driver in either the action-packed Race Car or Police mode...Includes all the features in the free Lite version</li>
        <li>Turn left, flip over, crash into the wall, your Driver will let you know exactly how he feels about that...remember, the app is not designed to react when the FX Car leaves your hand, but do it anyways since it rides so well</li>
        <li>Combination of movements kicks off over a dozen different animations...find them all</li>
      </ul>
    </div>
    <div class="sub-header">
      <div class="header-text">Lite Edition (coming soon!)</div>
    </div>
    <div class="icon">
      <img src="../images/getapp/icon_lite.png" alt="AppFX LITE">
    </div>

    <div class="description">
      <ul>
        <li>You are the Driver; control and match your actions with your movements.  Also, play in either Police or Race mode</li>
        <li>Steering: like the real thing, turn the wheel the direction you are heading, use the horn when someone gets in your way, but be careful how far you turn the wheel because you may spin out and crash</li>
        <li>Gear Shifting: built in gear control so you don’t accidentally skip a gear; PSM control so you feel the acceleration when you shift up</li>
        <li>Computer: check out what you can control and do</li>
        <li>Music: got iTunes music, well…listen to you as you drive</li>
        <li>Other Controls: there's much much more; half the fun is discovering how the controls interact with the real world movements.  In addition, we plan to continue add more and have more surprises for you real soon, that not even a real car could provide</li>
      </ul>
    </div>

    <!--<div>-->
      <!--<p class="fx-verbiage">-->
        <!--<a href="http://www.itunes.com" target="_blank">Get FX Driver from iTunes!</a>-->
      <!--</p>-->
    <!--</div>-->

  </div>
</div>
</div>