<div id="login">
  <div class="background-area">
    <div class="sub-header">
      <div class="header-text">Returning Customer</div>
    </div>
    <form>
      <div class="form-area">
        <label class="fx-label">Enter Email:</label>
        <input class="email" type="text" name="email"/>
        <label class="fx-label">Enter Password:</label>
        <input class="password" type="password" name="password"/>
      </div>
    </form>
    <div class="submit">
      <div id="login-button" class="fx-button">
        <span>Login</span>
      </div>
    </div>
    <div class="sub-header">
      <div class="header-text">New Customer</div>
    </div>
    <form>
      <div class="form-area">
        <label class="fx-label">Enter Email:</label>
        <input class="email_new" type="text" type="text" name="email_new"/>
      </div>
    </form>
    <div class="submit">
      <div id="register-button" class="fx-button">
        <span>Register</span>
      </div>
    </div>
    <div class="secure-images">
      <img class="privacy" src="../images/secure/privsafe-4925-lg.gif" alt="Privacy Safe">
      <img class="verified" src="../images/secure/newbiz-4925-lg.gif" alt="Business Verified">
    </div>

    <div class="privacy-link">
      <a class="pdf-link" href="./#policy">Privacy Policy</a>
    </div>

    <div id="guest-area">
      <div style="text-align:center"><label class="fx-label">or</label></div>
      <div class="submit">
        <div id="guest-button" class="fx-button">
          <span>Continue As Guest</span>
        </div>
      </div>

    </div>
  </div>
</div>