<div class="cartheader1">
  <div class="cartheader1D1"><img class="thumbnail" src="../images/thumbs/<%=thumbnail%>.png"></div>
  <div class="cartheader1D2"><div class="name"><%=itemName%></div></div>
  <div class="cartheader1D3">$<%=price%></div>
  <div class="cartheader1D4">
    <input type="text" name="" value="<%=quantity%>"/>
    <input class="update" type="button" name="quantity" value="Update"/>
  </div>
  <div class="cartheader1D5">$<%=total%></div>
  <div class="cartheader1D6"><input class="remove" type="button" name="" value="Remove Item"/></div>
</div>