<div class="inner">
  <h2>Receipt of order</h2>
  <div class="register">
    <div class="registration_Successful">
      <h1>CONGRATULATIONS !!!</h1>
      <p>Your order has been successfully placed and will be processed as soon as possible. A copy of this receipt has been sent to your email address. The item(s) will reach you within 5-7 business days via USPS.</p>
      <p>Your order ID is <span><%=id%></span>
      <p>Please contact us at <a href="info@appfxtoys.com">info@appfxtoys.com</a> with any questions you may have.</p>
      <p id="app-code" style="visibility:hidden">iTunes store FX Driver download code: <span><%=code%></span></p>
    </div>
  </div>
</div>