<div id="device-exchange">
  <div class="content">
    <img src="../images/mobile/exchange/xchange_m.png">
  </div>
</div>

<!--<div class="mainSec">-->
  <!--<div id="devicePrt">-->
    <!--<div class="lftContntPrt">-->
      <!--<h2>Device Xchange</h2>-->

      <!--<p><span>Free to post, Free to use.</span></p>-->

      <!--<p>With so many devices neglected, here is a place to share with others devices that don’t have an owner. We thought about putting a cap on how much you can charge for-->
        <!--your old device, but we trust that people we get behind our-->
        <!--cause and allow your unused device go to a home with owner desperately wanting one, willing to give it the attention it deserves.</p>-->

      <!--<p>Please give or sell your device at a reasonable price to someone that will use and love your device</p>-->

      <!--<p>Designed to protect personal information; <span>anyone under 18, please have your guardian.</span></p>-->
    <!--</div>-->
    <!--<div class="rightFrmPrt submit">-->
      <!--<div class="devicePrt">-->
        <!--<div class="srchdevce">-->
          <!--<form action="" method="post">-->
            <!--<div class="searchBg"><input name="" type="text"  placeholder="Search for Device"/></div>-->
            <!--<div class="frmprt">-->
              <!--<div class="field1"><input name="" type="text"  placeholder="Enter Keywords or name"/></div>-->
              <!--<div class="field1"><input name="" type="text"  placeholder="Device Type" /></div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="deviceSrchBg">-->
         <!--<div class="threeDevice">-->
          <!--<a href="#url" id="search-button">Search for device</a>-->
          <!--<a class="acount" href="#url" id="create-button" >Create an account</a>-->
          <!--<a href="#url" id="add-button">Add device</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->