<p><span>Free to post, Free to use.</span></p>

<p>With so many devices neglected, here is a place to share with others devices that don’t have an owner. We thought about putting a cap on how much you can charge for
  your old device, but we trust that people we get behind our
  cause and allow your unused device go to a home with owner desperately wanting one, willing to give it the attention it deserves.</p>

<p>Please give or sell your device at a reasonable price to someone that will use and love your device</p>

<p>Designed to protect personal information; <span>anyone under 18, please have your guardian.</span></p>