<!--<div id="device-exchange">-->
<!--<div class="content">-->
<!--<img src="../images/mobile/exchange/xchange_m.png">-->
<!--</div>-->
<!--</div>-->
<div id="device-exchange">
  <div class="mainSec">
    <div id="devicePrt">
      <div class="lftContntPrt">


        <div id="search-results-items">
        </div>


      </div>

    </div>
    <div class="rightFrmPrt submit">
      <div class="devicePrt">
        <div class="srchdevce">
          <form action="" method="post">
            <div class="searchBg"><input name="" type="text" placeholder="Search for Device"/></div>
            <div class="frmprt">
              <div class="field1"><input name="" type="text" placeholder="Enter Keywords or name"/></div>
              <div class="field1">
                <select class="select" name="deviceType" id="device-type">
                  <option value="all">All Devices</option>
                  <option value="iphone3g">iPhone 3G</option>
                  <option value="iphone3gs">iPhone 3GS</option>
                  <option value="iphone4">iPhone 4</option>
                  <option value="iphone4s">iPhone 4S</option>
                  <option value="ipod3">iPod 3rd Generation</option>
                  <option value="ipod4">iPod 4th Generation</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="deviceSrchBg">
        <div class="fildarowprt"><img src="images/device/frm-arow.png" alt="arow"/></div>
        <div class="threeDevice">
          <a href="#url" id="search-button">Search for device</a>
          <a class="acount" href="#url" id="create-button">Create an account</a>
          <a href="#url" id="add-button">Add device</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="contact-seller-dialog">
  <div class="fx-section">
    <form class="form-area">
      <div class="device-name fx-label"></div>
      <div class="fx-label email">Please enter your email address in which the seller will respond to directly:</div>
      <div class="email"><input type="text" name="email"></div>
      <div class="fx-label message">
        Please enter in a message to be sent to the seller for this device
      </div>
      <div class="deviceMessage"><textarea name="deviceMessage"></textarea></div>
    </form>
  </div>
</div>