<div id="fx-gallery">

  <div id="car-package">
    <div class="sub-header">
      <div class="header-text">Single Car</div>
    </div>
    <div class="background-area">
      <div>
        <img class="main-image" id="single-car"/>
      </div>

      <div class="gallery">

        <div class="arrow">
          <a class="prev browse left"><span style="float:left"> < </span></a>
        </div>

        <!-- root element for scrollable -->
        <div class="fx-scrollable">

          <!-- root element for the items -->
          <div class="fx-items">

            <!-- 1-5 -->
            <div>
              <img src="../images/car/appfx_front.jpg"/>
              <img src="../images/car/appfx_rear.jpg"/>
              <img src="../images/car/dclabs_right.jpg"/>
            </div>

            <!-- 5-10 -->
            <div>
              <img src="../images/car/dclabs_side.jpg"/>
              <img src="../images/car/patrol_right.jpg"/>
              <img src="../images/car/patrol_topback.jpg"/>
            </div>

          </div>

        </div>

        <div class="arrow">
          <a class="next browse right"><span> > </span></a>
        </div>
      </div>

      <div class="description">
        <ul>
          <li>Crafted of quality silicon rubber</li>
          <li>Rubber wheels offer maximum traction</li>
          <li>Patent-Pending Design, Child-friendly crafted</li>
          <li>Features a sleek, streamlined design with grip control for easy handling of hard turns</li>
          <li>Eco-friendly and 100% recyclable</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div id="complete-package">
  <div class="sub-header">
    <div class="header-text">Complete Package</div>
  </div>
  <div class="background-area">
    <div>
      <img id="full-car" class="main-image"/>
    </div>
    <div class="gallery">

      <div class="arrow">
        <a class="prev browse left"><span style="float:left"> < </span></a>
      </div>

      <!-- root element for scrollable -->
      <div class="fx-scrollable" id="package-scrollable">

        <!-- root element for the items -->
        <div class="fx-items">

          <!-- 1-5 -->
          <div>
            <img src=" ../images/mobile/home/fx_bundle_no_border.jpg"/>
            <img src="../images/car/app.png"/>
            <img src="../images/car/appfx_front.jpg"/>
          </div>

          <!-- 5-10 -->
          <div>
            <img src="../images/car/appfx_rear.jpg"/>
            <img src="../images/car/dclabs_right.jpg"/>
          </div>

        </div>

      </div>

      <div class="arrow">
        <a class="next browse right"><span> > </span></a>
      </div>

      <div class="description">
        <ul>
          <li>Get it all:</li>
          <li>FX Car</li>
          <li>2 Sticker Sheets (Race or Police Set)</li>
          <li>Premium Edition of App for over 40% off if bought individually</li>
          <li>Free Shipping</li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>


