<div id="stickers-options">
  <div class="background-area">
    <div class="sub-header">
      <div class="header-text">FX Car Sticker Sheets</div>
    </div>
    <div class="fx-section">
      <div class="sticker-description">
        <p>
          Tat it Up!
        </p>

        <p>
          Have Some Wicked Good Fun with FX Stickers
        </p>

        <p>
          Before you tear it up, tat up your FX Car with its own special custom look—designed by you! Have fun creating your own unique look by mixing your own personal selection of FX car stickers on the doors, trunk, lights, windows or rear of your FX car. From top to grill to axis, the possibilities are endless. Simply peel off the sticker sheet and apply. It’s that eas….and so much fun.
        </p>

        <p>
          Ready? Set. Go! Your sleek black FX car is going to look absolutely stunning after you’ve applied our glossy colorful stickers for a high-contrast racing car appearance. Select from a diverse collection of logos and images that will take you from the starting line to the finish line in highstyle.
        </p>
      </div>
      <div class="options">
        <img src="./images/rear.jpg">
      </div>
      <div class="arrow">
        <span class="arrow-right"> > </span>
      </div>
    </div>

  </div>
</div>