<div id="cart-item-types">
  <div class="background-area">
    <div class="cart-item-type ribbon">
      <div class="ribbon">
        <img src="../images/stickers/ribbon.png">
      </div>
      <div class="ribbon-title-area">
        <div class="header-text">Add all 4 high gloss sticker sheets for $<%=price%></div>
      </div>
    </div>

    <div class="cart-item-type">
      <div class="thumbnails">
        <img src="../images/thumbs/appfx_sticker-ct.png">
      </div>
      <div class="title-area">
        <div class="header-text">AppFX Sticker Sheet</div>
        <div>
          <div item="S10" class="fx-button details-button">
            <span item="S10">Details</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-item-type">
      <div class="thumbnails">
        <img src="../images/thumbs/dclabs_sticker-ct.png">
      </div>
      <div class="title-area">
        <div class="header-text">DC Labs LLC Sticker Sheet</div>
        <div>
          <div item="S11" class="fx-button details-button">
            <span item="S11">Details</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-item-type">
      <div class="thumbnails">
        <img src="../images/thumbs/patrol_sticker-ct.png">
      </div>
      <div class="title-area">
        <div class="header-text">Patrol Sticker Sheet</div>
        <div>
          <div item="S12" class="fx-button details-button">
            <span item="S12">Details</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-item-type">
      <div class="thumbnails">
        <img src="../images/thumbs/police_sticker-ct.png">
      </div>
      <div class="title-area">
        <div class="header-text">Interceptor Sticker Sheet</div>
        <div>
          <div item="S13" class="fx-button details-button">
            <span item="S13">Details</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>