<div id="stickers-details">
  <div class="background-area">
    <div class="sticker-type-item">
      <div class="sub-header">
        <div class="header-text"><%=name%></div>
      </div>
      <div class="image">
        <img src="">
      </div>
      <div>
        <ul class="fx-description-list">
         </ul>
      </div>
      <div class="ribbon">
        <div class="image-ribbon"><img src="../images/stickers/ribbon.png"></div>
        <div class="text-ribbon fx-text">Add all 4 high gloss sticker sheets for $<span id="bundle-price"></span></div>

      </div>
      <div class="spec-sheet">
        <a class="pdf-link" href="#" target="_blank">Download PDF Specs</a>
      </div>

      <div class="cart-button">
        <div id="cart-button" class="fx-button">
          <span>Add To Cart</span>
        </div>
      </div>
    </div>
  </div>
</div>