<div id="login" class="inner">
  <h2>Customer Login</h2>
  <div class="customer_Login">
    <div class="login_lft">
      <h2>Returning CUStomer</h2>
      <label><input class="email" type="text" name="email"  placeholder="Enter Email" /></label>
      <label><input class="password" type="password" name="password"  placeholder="Enter Password" /></label>
      <div class="login"><a id="login-button" href="#">LOGIN</a></div>
    </div>

    <div class="login_rht">
      <h2>new customer</h2>
      <label><input class="email_new" type="text" name="email_new" placeholder="Enter Email"/></label>
      <div class="login"><a id="register-button" href="#">REGISTER</a></div>
      <p>OR</p>
      <div class="guest"><a id="guest-button" href="#">CONTINUE AS GUEST</a></div>
    </div>
    <div class="secure-images">
      <img class="privacy" src="../images/secure/privsafe-4925-lg.gif" alt="Privacy Safe">
      <a class="policy-link" href="./#policy">Privacy Policy</a>
      <img class="verified" src="../images/secure/newbiz-4925-lg.gif" alt="Business Verified">
    </div>


  </div>
</div>