<div id="contact-seller-section">
  <div class="fx-section">
    <div class="description">
      <form class="form-area">
        <div>Please enter your email address in which the seller will respond to directly:</div>
        <div><input type="text" name="email"></div>
        <div>
          Please enter in a message to be sent to the seller for this device
        </div>
        <div><textarea name="deviceMessage"></textarea></div>
      </form>
      <div id="submit-button" class="fx-button">
        <span>Send Email To Seller</span>
      </div>
    </div>
  </div>
</div>