<div id="search-device">
  <div class="background-area">
    <form>
      <div class="form-area">
        <label class="fx-label">Enter keywords or name</label>
        <input id="criteria" type="text" name="criteria"/>

        <label class="fx-label">Device Type:</label>
        <select class="select" name="deviceType" id="device-type">
          <option value="all">All Devices</option>
          <option value="iphone3g">iPhone 3G</option>
          <option value="iphone3gs">iPhone 3GS</option>
          <option value="iphone4">iPhone 4</option>
          <option value="iphone4s">iPhone 4S</option>
          <option value="ipod3">iPod 3rd Generation</option>
          <option value="ipod4">iPod 4th Generation</option>
        </select>

      </div>
    </form>
    <div class="submit">
      <div id="search-button" class="fx-button">
        <span>Search For Devices</span>
      </div>
    </div>
  </div>
</div>