<div id="final-order">

  <div class="inner">
    <h2>Final Order Confirmation</h2>

    <div class="customer_Login btm">
      <div class="login_lft">
        <h2>Shipping info</h2>

        <p class="final_txt shipping">

        </p>
      </div>

      <div class="login_rht">
        <h2>billing info</h2>

        <p class="final_txt billing">
        </p>

      </div>
    </div>
    <div class="bdr"></div>
    <h2 class="finaltxt1">Cart</h2>

    <div id="final-cart-items" class="Shopping_Cart final-cart-items">


    </div>

    <div class="cartTotal final-cart-items-handling">
      <div class="cb cost-total"><b>TOTAL</b><span class="sum">$<%=total%></span></div>
      <div class="cb fx-text"><b class="gr">+ HANDLING</b><span>$<%=handling%></span></div>
    </div>
    <div class="cartBox">
      <p><span><b>GRAND TOTAL</b></span>$<%=grandTotal%></p>
    </div>
    <div class="cartBox2">
      <div class="final_order"><a id="purchase" href="#">PURCHASE</a></div>
    </div>
  </div>
</div>