<div id="shipping_billing">
  <div class="inner">
    <div class="billing">
      <div class="lftbuld">
        <h2>Please enter your shipping information</h2>

        <div class="billingLft">

        </div>
      </div>
      <div class="rhtbuld">
        <h2>Please enter your billing information</h2>

        <div class="billingrht">

        </div>
      </div>
      <div class="proceedbtn"><a id="proceed" href="#">PROCEED TO NEXT STEP</a></div>
    </div>
  </div>
</div>