<div id="cart">
  <div class="inner">
    <h2>Your Shopping Cart</h2>

    <div id="cart-list" class="Shopping_Cart">
      <div class="cartheader">
        <div class="cartheaderD1">Item</div>
        <div class="cartheaderD2">Name and Description</div>
        <div class="cartheaderD3">Price per unit</div>
        <div class="cartheaderD4">Quantity</div>
        <div class="cartheaderD5">Total</div>
        <div class="cartheaderD6"></div>
      </div>
    </div>
    <div class="notice">
      <p>
        * At this time, only Continental US orders are accepted through the website. All international shipments must be completed through email. Please send your request to
        <a class="link" target="_blank" href="mailto:world@appfxtoys.com">world@appfxtoys.com</a>
      </p>
    </div>
    <div class="cartTotal">

      <div class="cb cost-total"><b>TOTAL</b><span class="sum"></span></div>
      <div id="handling" class="cb cost-handling"><b class="gr fx-label handling">+ HANDLING</b><span class="sum"></span></div>
    </div>
    <div class="cartBox">
      <p class="grand-total"><span><b>GRAND TOTAL</b></span><span class="sum"></span></p>
    </div>


    <div class="cartBox2">
      <div class="cartBox2_ctn">
        <div class="proced"><a id="checkout" href="#">Proceed to checkout</a></div>
        <div class="clear"><a id="clear-cart" href="#">Clear Cart</a></div>
        <div class="contanue"><a id="continue" href="#">Continue Shopping</a></div>
      </div>
    </div>
  </div>
</div>