<div class="inner">
  <h2>Review Order Confirmation</h2>

  <div class="customer_Login btm">
    <div class="login_lft">
      <h2>review Shipping info</h2>

      <p class="final_txt shipping">
      </p>

      <div class="editAddressBtn">
        <a id="edit-shipping-button" href="#">Edit Info</a>
      </div>

    </div>

    <div class="login_rht">
      <h2>review billing info</h2>

      <p class="final_txt billing">
      </p>

      <div class="editAddressBtn">
        <a id="edit-billing-button" href="#">Edit Info</a>
      </div>

    </div>

  </div>
  <div class="bdr"></div>
  <h2 class="finaltxt1">Review Cart</h2>

  <div id="review-cart-list" class="Shopping_Cart">

    <div class="cartheader">
      <div class="cartheaderD1">Item</div>
      <div class="cartheaderD2">Name and Description</div>
      <div class="cartheaderD3">Price per unit</div>
      <div class="cartheaderD4">Quantity</div>
      <div class="cartheaderD5">Total</div>
      <div class="cartheaderD6"></div>
    </div>
  </div>

  <div class="cartTotal">
    <div class="cb cost-total"><b>TOTAL</b><span class="sum"></span></div>
    <div id="handling" class="cb cost-handling"><b class="gr fx-label handling">+ HANDLING</b><span class="sum"></span></div>
  </div>

  <div class="cartBox">
    <p class="grand-total"><span><b>GRAND TOTAL</b></span><span class="sum"></span></p>
  </div>

  <div class="editCartBtn">
    <a id="edit-cart-button" href="#">Edit Cart</a>
  </div>

  <div class="cuponsec">
    <input id="coupon-code" type="text" placeholder="Enter Coupon Code" name="couponCode"/>
    <a id="coupon-code-button" href="#">Validate Coupon Code</a>
  </div>

  <div class="cartBox2">
    <div class="final_order"><a id="continue-button" href="#">CONTINUE</a></div>
  </div>

</div>