<div id="registration-1">
  <div class="background-area">
    <div class="sub-header">
      <div class="header-text">Personal Details</div>
    </div>
    <form>
      <div class="form-area">
        <label class="fx-label"><span class="asterisk">*</span>First Name:</label>
        <input type="text" name="firstName"/>
        <label class="fx-label"><span class="asterisk">*</span>Last Name:</label>
        <input type="text" name="lastName"/>
        <label class="fx-label"><span class="asterisk">*</span>Password:</label>
        <input type="password" name="password"/>
        <label class="fx-label"><span class="asterisk">*</span>Repeat Password:</label>
        <input type="password" name="password2"/>
      </div>
    </form>
    <div class="submit">
      <div id="next-button" class="fx-button">
        <span>Proceed To Next Step</span>
      </div>
    </div>
  </div>
</div>