<div id="cart-item-types">
  <div class="background-area">
    <div class="cart-item-type">
      <div class="thumbnails">
        <img src="./images/multi-color.png">
      </div>
      <div class="title-area">
        <div class="header-text">Muti colored track tape</div>
        <div><img class="tape" src="./images/details_button_normal.png"></div>
      </div>
    </div>

    <!--<div class="cart-item-type">-->
      <!--<div class="thumbnails">-->
        <!--<img src="./images/postcard.png">-->
      <!--</div>-->
      <!--<div class="title-area">-->
        <!--<div class="header-text">Postcard Buildings</div>-->
        <!--<div><img class="postcard" src="./images/details_button_normal.png"></div>-->
      <!--</div>-->
    <!--</div>-->


  </div>
</div>