<div id="stickers">
  <div class="inner">

    <h1>FX Stickers</h1>

    <div class="sticker-bundle top">
      <div class="ribbon">
        <img src="../images/stickers/ribbon.png">
      </div>
      <div class="ribbon-title-area">
        <div class="header-text">Add all 4 high gloss sticker sheets for $10.00</div>
      </div>
    </div>
    <div class="sticker-description">
      <p>
        Tat it Up!
      </p>

      <p>
        Have Some Wicked Good Fun with FX Stickers
      </p>

      <p>
        Before you tear it up, tat up your FX Car with its own special custom look—designed by you! Have fun creating your own unique look by mixing your own personal selection of FX car stickers on the doors, trunk, lights, windows or rear of your FX car. From top to grill to axis, the possibilities are endless. Simply peel off the sticker sheet and apply. It’s that easy….and so much fun.
      </p>

      <p>
        Ready? Set. Go! Your sleek black FX car is going to look absolutely stunning after you’ve applied our glossy colorful stickers for a high-contrast racing car appearance. Select from a diverse collection of logos and images that will take you from the starting line to the finish line in highstyle.
      </p>
    </div>

    <div class="tabSec">

      <div id="container">
        <ul class="menu">
          <li id="appfx" class="active">
            <div class="soldout">
              <img class="appfx" src="../images/stickers/appfx_front.jpg" alt=" "/>
              <img class="soldout" src="../images/general/soldout.png"/>
            </div>
            <span>AppFX Race</span>

            <div class="viewDetails"><a href="#" class='S10'>view details</a></div>
          </li>
          <li id="dclabs" class="last-li">
            <img src="../images/stickers/dclabs_llc_front.jpg" alt=" "/>
            <span>DCLabs Race</span>

            <div class="viewDetails"><a href="#" class='S11'>view details</a></div>
          </li>

          <li id="cop">
            <img src="../images/stickers/police_front.jpg" alt=" "/>
            <span>Police Interceptor</span>

            <div class="viewDetails"><a href="#" class='S12'>view details</a></div>
          </li>

          <li id="patrol" class="last-li">
            <img src="../images/stickers/patrol_front.jpg" alt=" "/>
            <span>Police Patrol</span>

            <div class="viewDetails"><a href="#" class='S13'>view details</a></div>
          </li>
        </ul>
        <div class="sticker-scroll"><a id="sticker-top" href="#">Back to Top</a></div>
        <div class="content appfx">
          <div class="tabinr">
            <h2>AppFX Race Sticker Sheet</h2>
            <img class="sticker" src="../images/stickers/appfx_sticker_desktop.png" alt=" "/>
            <span class="tabinr-txt1">
               <ul class="description-list">
               </ul>
               <ul class="pdf">
                 <li><a class="pdf-link" href="" target="_blank">Download PDF specs</a></li>
               </ul>
            </span>
            <input type="button" class="addbtn" value="Add to cart" name=""/>
          </div>
        </div>

        <div class="content dclabs">
          <div class="tabinr">
            <h2>DCLabs Race Sticker Sheet</h2>
            <img class="sticker" src="../images/stickers/dclabs_sticker_desktop.png" alt=" "/>
            <span class="tabinr-txt1">
               <ul class="description-list">
               </ul>
               <ul class="pdf">
                 <li><a class="pdf-link" href="" target="_blank">Download PDF specs</a></li>
               </ul>
            </span>
            <input type="button" class="addbtn" value="Add to cart" name=""/>
          </div>
        </div>

        <div class="content cop">
          <div class="tabinr">
            <h2>Police Interceptor Sticker Sheet</h2>
            <img class="sticker" src="../images/stickers/police_sticker_desktop.png" alt=" "/>
            <span class="tabinr-txt1">
               <ul class="description-list">
               </ul>
               <ul class="pdf">
                 <li><a class="pdf-link" href="" target="_blank">Download PDF specs</a></li>
               </ul>
            </span>
            <input type="button" class="addbtn" value="Add to cart" name=""/>
          </div>
        </div>

        <div class="content patrol">
          <div class="tabinr">
            <h2>Police Patrol Sticker Sheet</h2>
            <img class="sticker" src="../images/stickers/patrol_sticker_desktop.png" alt=" "/>
            <span class="tabinr-txt1">
               <ul class="description-list">
               </ul>
               <ul class="pdf">
                 <li><a class="pdf-link" href="" target="_blank">Download PDF specs</a></li>
               </ul>
            </span>
            <input type="button" class="addbtn" value="Add to cart" name=""/>
          </div>
        </div>
      </div>
      <div class="sticker-bundle">
        <div class="ribbon">
          <img src="../images/stickers/ribbon.png">
        </div>
        <div class="ribbon-title-area">
          <div class="header-text">Add all 4 high gloss sticker sheets for $10.00</div>
        </div>
      </div>
    </div>
  </div>
</div>