<div id="track-tape">
  <div class="mainSec">
    <div class="inner">
      <h1>FX Track</h1>
      <div class="stock_racer">
        <div>
          <p class="fx-verbiage">
            When White, Yellow, Blue and You Collide…
          </p>

          <p class="fx-verbiage">
            Magic is about to happen. Yea, you’ve got the sleek FX wheels now and we bet you are just itching to burn rubber. But first, you’ve got to create your own FX burning-rubber world. Grab yourself a few rolls of FX Track and go crazy creative.
          </p>

          <p class="fx-verbiage">
            Let the yellow FX Track roll for miles or break it up into double yellow lines that can’t be crossed without breaking the law. Our blue FX Track makes a nice lake or pond for when you want to veer off the beaten path.

          <p class="fx-verbiage">
            Of course, our white FX Track is perfectly suited for creating a DIY race or city track or just a regular good old road like the INTERSTATE.
          </p>

          <p class="fx-verbiage">
            You’ve got the FX car, now get the FX Track and stop spinning your wheels.
          </p>
        </div>
        <!--<div class="font"><a href="#">Front View</a></div> -->
        <div class="sliderkit photosgallery-vertical">
          <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
              <ul>
                <li><a href="#"><img src="../images/track/track1.jpg"/></a></li>
                <li><a href="#"><img src="../images/track/track2.jpg"/></a></li>
                <li><a href="#"><img src="../images/track/track3.jpg"/></a></li>
                <li><a href="#"><img src="../images/track/track4.jpg"/></a></li>
              </ul>
            </div>
            <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
            <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
          </div>
          <div class="sliderkit-panels">
            <div class="sliderkit-panel"><img src="../images/track/track1.jpg"/></div>
            <div class="sliderkit-panel"><img src="../images/track/track2.jpg"/></div>
            <div class="sliderkit-panel"><img src="../images/track/track3.jpg"/></div>
            <div class="sliderkit-panel"><img src="../images/track/track4.jpg"/></div>
          </div>
          <div class="description">
            <ul>
              <li>Create your own tracks</li>
              <li>Add your own buildings and other figures for the FX Car to navigate through</li>
              <li>Purchase our FX Track 3-color bundle and save $</li>
              <li>Unlimited Creative Uses</li>
              <li>Created especially for use with the FX Car</li>
              <!--<li>Learn more: todo insert blog links</li>-->
              <!--<li>Upload your tracks on our Instagram account</li>-->
            </ul>
          </div>
        </div>


      </div>
      <div class="stock_racer">
        <h2 class="tape-heading">Please select color of tape</h2>

        <div class="tape">
          <div class="tapeLft">
            <div id="white" class="tapeLftbox">
              <div class="image-area">
                <img src="../images/track/white_tape.png" alt=""/>
              </div>
              <div class="check-area"><input name="white" type="checkbox" value="T10"/></div>
              <div class="desc-area"><span class="">White Tape</span></div>
              <div class="price-area"><span class="price"></span></div>
            </div>
            <div id="yellow" class="tapeLftbox">
              <div class="image-area">
                <img src="../images/track/yellow_tape.png" alt=""/>
              </div>
              <div class="check-area"><input name="yellow" type="checkbox" value="T11"/></div>
              <div class="desc-area"><span class="">Yellow Tape</span></div>
              <div class="price-area"><span class="price"></span></div>
            </div>
            <div id="blue" class="tapeLftbox">
              <div class="image-area">
                <img src="../images/track/blue_tape.png" alt=""/>
              </div>
              <div class="check-area"><input name="blue" type="checkbox" value="T12"/></div>
              <div class="desc-area"><span class="">Blue Tape</span></div>
              <div class="price-area"><span class="price"></span></div>
            </div>
            <div id="bundle" class="tapeLftbox">
              <div class="image-area">
                <img src="../images/track/tape_bundle.png" alt=""/>
              </div>
              <div class="check-area"><input name="bundle" type="checkbox" value="B14"/></div>
              <div class="desc-area"><span class="">Tape Bundle</span></div>
              <div class="price-area"><span class="price"></span></div>
            </div>

          </div>
          <div class="tapeRht">
            <div class="tapeRht_add">
              <input id="addToCart" type="button" value="Add to cart" name="">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>