<div id="purchase-car" class="mainSec">
  <div class="inner">
    <h1>FX Car</h1>

    <div class="stock_racer">
      <div>
        <p class="fx-verbiage">Don’t you wish the FX was around when you were a kid? It’s a tree-hugger’s dream car for sure, but the FX toy car’s sophisticated features aren’t exactly kid stuff, either. Equipped with a top of the line app and Apple-powered iPhone this sleek, green, driving machine is destined to grace the trendiest driveways in town.</p>

        <p class="fx-verbiage">Designed with an additional layer of plastic at the bottom to make it kid-friendly, the FX is also hard-bodied and wide enough to support the weight of an adult “driver.” Yea! This is a toy car designed to generate pure joy for both children and adult drivers; with two rear ports channeling amplified sound and special effects for maximum driving enjoyment.</p>
      </div>
      <h2>Single Car</h2>

      <div class="font design"><a id="design" href="#safety">Product Design</a></div>
      <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
          <div class="sliderkit-nav-clip">
            <ul>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/appfx_front.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/appfx_rear.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/dclabs_right.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/dclabs_side.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/patrol_right.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/patrol_topback.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/police_top.jpg"/></a></li>
              <li><a href="#" rel="nofollow" title=""><img src="../images/car/police_topfront.jpg"/></a></li>
            </ul>
          </div>
          <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
          <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
        </div>
        <div class="sliderkit-panels">
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/appfx_front.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/appfx_rear.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/dclabs_right.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/dclabs_side.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/patrol_right.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/patrol_topback.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/police_top.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/police_topfront.jpg"/></a></div>
        </div>
        <!--<div class="text-info">-->
        <!--<div>Toggle through the awesome views of the <b>FX Car</b> displaying 4 unique and custom made sticker decal sheets!</div>-->
        <!--</div>-->
        <div class="description">
          <ul>
            <li>Crafted of quality silicon rubber</li>
            <li>Rubber wheels offer maximum traction</li>
            <li>Patent-Pending Design, Child-friendly crafted</li>
            <li>Features a sleek, streamlined design with grip control for easy handling of hard turns</li>
            <li>Eco-friendly and 100% recyclable</li>
          </ul>
        </div>
      </div>
      <div class="stock_add single">
        <span class="info">
          <span class="title"></span>
          <br/>
          Price:<b>$<span class="price"></span></b>
        </span>

        <div class="iphone-toggle"><input type="checkbox" name="iphone-single" value="true"><span class="info">Sized for iPhone/iPod 5 (S/C)</span></div>
        <div id="single-add">
          <input type="button" name="" value="Add to cart"/>
        </div>
      </div>
    </div>
    <div class="stock_racer secondracer">
      <a id="complete-package"></a>

      <h2>Complete Package</h2>

      <div class="sliderkit photosgallery-vertical">
        <div class="sliderkit-nav">
          <div class="sliderkit-nav-clip">
            <ul>
              <li><a href="#" rel="nofollow"><img src="../images/mobile/home/fx_bundle_no_border.jpg"/></a></li>
              <li><a href="#" rel="nofollow"><img src="../images/car/app.png"/></a></li>
              <li><a href="#" rel="nofollow"><img src="../images/car/appfx_front.jpg"/></a></li>
              <li><a href="#" rel="nofollow"><img src="../images/car/appfx_rear.jpg"/></a></li>
              <li><a href="#" rel="nofollow"><img src="../images/car/dclabs_right.jpg"/></a></li>
            </ul>
          </div>
          <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
          <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
        </div>
        <div class="sliderkit-panels">
          <div class="sliderkit-panel"><img src="../images/mobile/home/fx_bundle_no_border.jpg"/></div>
          <div class="sliderkit-panel"><a href="#getapp"><img src="../images/car/app.png"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/appfx_front.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/appfx_rear.jpg"/></a></div>
          <div class="sliderkit-panel"><a href="#stickers"><img src="../images/car/dclabs_right.jpg"/></a></div>
        </div>
        <!--<div class="text-info">-->
        <!--<div>Complete FX Bundle! Includes 4 sticker sheets, 3 tape track rolls, the iPhone App ($4 values) and of course the patented FX Car!</div>-->
        <!--</div>-->
        <div class="description">
          <h2>Get it all</h2>
          <ul>
            <li>FX Car</li>
            <li>2 Sticker Sheets (Race or Police Set)</li>
            <li>Premium Edition of App for over 40% off if bought individually</li>
            <li>Free Shipping</li>
          </ul>
        </div>
      </div>
      <div class="stock_add package">
        <span class="info">
          <span class="title"></span>
          <br/>
          Price:<b>$<span class="price"></span></b>
        </span>

        <div class="iphone-toggle"><input type="checkbox" name="iphone-package" value="true"><span class="info">Sized for iPhone/iPod 5 (S/C)</span></div>
        <div id="package-add"><input type="button" name="" value="Add to cart"/></div>
      </div>
    </div>


  </div>

  <div id="pop-up">
    <div>
      <span>Please be aware that due to popular demand the FX Car for iPhone/iPod 5 (S/C) is currently on back order.</span>
      <span>Please expect a 3-4 week delay, we apologize for the inconvenience.</span>
    </div>
    <div class="close"><span>X</span> Close</div>
  </div>


</div>