<div id="home-page">
  <div class="scrollable">
    <div class="scrollarea"></div>
    <div class="navi white">
      <a class="active" href="#0"></a><a href="#1"></a><a href="#2"></a><a href="#3"></a>
    </div>

    <div style="left: 0px;" class="items">

      <div class="item">
        <div class="scrolltxt" style="top: 5px; right: 0px; width: 120px;">
          <p class="title"></p>

          <p class="subtitle">

          </p>
        </div>
        <a href="./#stockCar">
          <div class="image" id='fxcar'></div>
        </a>
      </div>

      <div class="item">
        <div class="scrolltxt" style="right:10px; top: 5px; ">
          <p class="title"></p>

          <p class="subtitle">
          </p>
        </div>
        <a href="./#fxCarDetails/B10">
          <div class="image" id="fxbundle"></div>
        </a>
      </div>

      <div class="item">
        <div class="scrolltxt" style="right:10px; top: 5px;">
          <p class="title"></p>

          <p class="subtitle">

          </p>
        </div>
        <a href="http://instagram.com/" target="_blank">
          <div class="image" id="masking"></div>
        </a>
      </div>

      <div class="item">
        <div class="scrolltxt" style="left:10px; bottom: 35px;">
          <p class="title"></p>

          <p class="subtitle">

          </p>
        </div>
        <a href="./#stickerTypes">
          <div class="image" id="stickerbundle"></div>
        </a>
      </div>
    </div>
  </div>
  <!-- end scrollable -->

  <ul id="boxmenu" class="home">
    <li class="stockcar">
      <div><span></span></div>
    </li>
    <li class="video">
      <div class="video-container">
        <iframe src="//www.youtube.com/embed/LHhDw1M72T8?rel=0" frameborder="0"></iframe>
      </div>
    </li>
    <li class="tape-tracks"><a class="ui-link tape-track" href=""><span>Masking Tape Track</span></a></li>
  </ul>
</div>