<div class="mainSec">
  <div class="inner">
    <h2>Registration Successful</h2>

    <div class="register">
      <div class="registration_Successful">
        <p>Awesome, you have been successfully registered into our system. Your login details have been sent to the email address you have given during registration.</p>

        <p>Please contact us at <a href="mailto:info@appfxtoys.com">info@appfxtoys.com</a> for further questions.</p>

        <div class="rgs_login"><a href="#">PROCEED TO NEXT STEP</a></div>
      </div>
    </div>
  </div>


</div>