<div id="registration-form">
  <div class="mainSec">


    <div class="registration-fields">
      <div class="registration-column">
        <h1>Please enter your registration information</h1>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          First name:
        </label>
        <input type="text" name="firstName" placeholder="First Name"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Last name:
        </label>
        <input type="text" name="lastName" placeholder="Last Name"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Password:
        </label>
        <input type="text" name="password" placeholder="Password"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Repeat Password:
        </label>
        <input type="text" name="password2" placeholder="Repeat Password"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Street Address:
        </label>
        <input type="text" name="address1" placeholder="Street Address"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          Street Address 2:
        </label>
        <input type="text" name="address2" placeholder="Street Address 2"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          City:
        </label>
        <input type="text" name="city" placeholder="City"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          State:
        </label>
        <select name="region" id="region" name="region">
          <option></option>
          <option>Alabama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>District of Columbia</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Louisiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Massachusetts</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>Montana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>Utah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Zip Code:
        </label>
        <input type="text" name="postal" placeholder="Zip"/>
      </div>
      <div class="bldBox2">
        <label class="fx-label">
          <span class="asterisk">*</span>
          Mobile Number:
        </label>
        <input type="text" name="mobileNumber" placeholder="Mobile Number"/>
      </div>
    </div>
    <div class="requestBg">
      <div class="proceedbtn"><a id="proceed" href="#">PROCEED TO NEXT STEP</a></div>
    </div>
  </div>
</div>


