<div id="review-order">
  <div class="background-area">
    <div class="sub-header">
      <div class="header-text">Review Shipping Information</div>
    </div>
    <div class="shipping">

      <div class="info-edit-button">
        <div id="edit-shipping-button" class="fx-button">
          <span>Edit Shipping Info</span>
        </div>

      </div>
    </div>
    <div class="sub-header">
      <div class="header-text">Review Billing Information</div>
    </div>
    <div class="billing">

      <div class="info-edit-button">
        <div id="edit-billing-button" class="fx-button">
          <span>Edit Billing Info</span>
        </div>
      </div>
    </div>
    <div class="sub-header">
      <div class="header-text">Review Cart</div>
    </div>
    <div id="review-cart-list">

    </div>
    <div class="fx-section">
      <div class="cost-total">
        <div><span class="fx-color fx-label">TOTAL</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
      <div class="cost-handling">
        <div><span class="fx-label">+ HANDLING</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
    </div>
    <div class="fx-section grand-total">
      <div class="grand-total-area">
        <div><span class="fx-color fx-label">GRAND TOTAL</span></div>
        <div><span class="fx-label sum"></span></div>
      </div>
    </div>
    <div class="edit-button fx-section">
      <div id="edit-cart-button" class="fx-button">
        <span>Edit Cart</span>
      </div>
    </div>

    <form class="form-area">
      <input id="coupon-code" name="couponCode" type="text"/>
    </form>
    <div id="coupon-code-button" class="fx-button">
      <span>Validate Coupon Code</span>
    </div>
    <div class="proceed-button fx-section">
      <div id="continue-button" class="fx-button">
        <span>Continue</span>
      </div>
      <!--<img src="./images/payment_information/continue_button_normal.png">-->
    </div>
  </div>
</div>