

<div id="privacy-policy">
  <div class="inner">
    <div class="description">
      <ul>
        <li>FX Driver Children’s Privacy Policy</li>
        <li>Effective Date: September 30, 2013</li>


        <li>A Message for Parents</li>
        <li>PLEASE READ THIS CHILDREN’S PRIVACY POLICY CAREFULLY BEFORE ALLOWING YOUR CHILDREN TO USE THE FX DRIVER APP</li>
        <li>The Children’s Online Privacy Protection Act ("COPPA") requires us to inform parents and legal guardians about how we collect, use, and disclose personal information from children under the age of 13. It also requires that we obtain parental consent before we allow children under the age of 13 to use certain features of the APP.</li>

        <li>As used in this Children’s Privacy Policy, the following terms have the following meanings:</li>
        <li>"Parent" includes legal guardians.</li>
        <li>"Child" means a child that is under the age of 13.</li>
        <li>"Personal information" means individually identifiable information about an individual that is collected online, such as first and last name, a home address, an e-mail address, a telephone number, a SSN, or any information collected from an individual and combined with such identifying information.</li>

        <li>For more information about COPPA, click <a href="http://business.ftc.gov/documents/Complying-with-COPPA-Frequently-Asked-Question">here</a>.</li>

        <li>Scope of this Policy</li>
        <li>This Policy describes how we collect, use and disclose personal information about children under 13 years old, within FX Driver and its links. This policy incorporates by reference the Terms of Use ("Terms") for AppFX and those <a href="/terms">Terms</a> apply to this Policy. To view our general Privacy Policy for AppFX and DC Labs LLC (subsidary), which applies to the information we collect from members 13 years old or older, click <a href="/policy">here</a>. Before using this APP, please also read our Terms and our general Privacy Policy.</li>
        <li>BY USING OR ACCESSING OUR APP, OR BY PERMITTING YOUR CHILD TO USE APP, YOU ARE ACCEPTING THE PRACTICES DESCRIBED IN THIS POLICY.</li>

        <li>Overview</li>
        <li>The APP is is intended for parents, children and other family members alike. For children under the age of 13 it is advisable to have parental involvement and approval. Children under the age of 13 are allowed to use this APP without a parent’s permission, however, we strongly advise parental consent.</li>

        <li>Parental Consent</li>
        <li>We are required by COPPA to use reasonable efforts to ensure that before we collect any personal information from a child, the child’s parent receives notice of and consents to our information practices.</li>

        <li>Information We Collect From Children and How We Collect It</li>
        <li>Information We Collect Directly</li>
        <li>At this time, the APP does not collect any personal information.</li>
        <li>Information We Collect Passively</li>
        <li>At this time, the APP only collects download activity native in the mobile device operating system only.</li>

        <li>Tracking Activities of the APP</li>
        <li>At this time, the APP only collects download activity native in the mobile device operating system only. We may use this information to reconcile activity with download statistics.</li>

        <li>How We Use Your Child’s Personal Information</li>
        <li>We do not directly collect any personal information.</li>
        <li>We may use non-personal information such as information about app usage to improve the design, content and performance, or to analyze site usage and the popularity of certain features. However, this feature is currently not activated.</li>

        <li>How We Share a Child’s Personal Information with Third Parties</li>
        <li>We will not sell, rent or trade your child’s personal information PERIOD.</li>
        <li>Aggregate and Anonymized Information</li>
        <li>We DO NOT share aggregate or anonymized information about children with non-affiliated third parties for advertising, marketing or research purposes.</li>

        <li>Data Security</li>
        <li>We have implemented commercially reasonable safeguards to protect personal information that we collect and store. Despite these precautions, however, no data security safeguards are foolproof. Unauthorized individuals may find ways to obtain personal information from or to access the APP that we cannot and do not guarantee.</li>

        <li>Third Party Links</li>
        <li>At this time, our APP may contain links to other third party websites. Any access to and use of such linked websites is not governed by this Policy but, instead, is governed by the privacy policies of those third party websites. AppFX and FX Driver are not responsible for your access to and use of such third party websites.</li>

        <li>Changes to this Children’s Privacy Policy</li>
        <li>We reserve the right to amend this policy at any time. Please check this page periodically for changes. We will post a notice on this website if and when this policy changes to alert visitors that a new policy is in place. If we intend to collect and/or use your child’s personal information in a manner materially different from that stated at the time of collection we will notify you via this Privacy Policy.</li>

        <li>Contact Us</li>
        <li>If you have questions, comments or concerns about any of our privacy policies or practices, or to raise any other issue related to privacy, you may contact AppFX at:</li>
        <li>PO Box 219111, Portland OR 97225</li>
        <li><a href="mailto:info@appfxtoys.com">info@appfxtoys.com</a></li>
      </ul>
    </div>
  </div>
</div>