<div id="bannerPrt">

  <div class="slider" style="overflow:visible">
    <ul class="items">

      <li><img class="car-intro" src="../images/home/fx_car_intro.jpg" alt="FX Intro"/>
        <div class="banner">
          <div class="intro-image"></div>
          <p></p>
          <span class="contntbanner"></span>
        </div>
      </li>

      <li><img src="../images/home/main_bundle_dt.jpg" alt="complete bundle"/>

        <div class="banner"><p></p>
          <div class="complete-bundle-image"></div>
          <span class="contntbanner"></span>
        </div>
      </li>

      <li>
        <img src="../images/home/maskingtrack_dt.jpg" alt="tape track"/>
        <p class="track">Create Your Own Tracks!</p>
        <div class="banner">
          <div class="track-image"></div>
          <p class="track">Create Your Own Tracks!</p>
          <span class="contntbanner">
          </span>
        </div>
      </li>

      <li><img src="../images/home/sticker_bundle_dt.jpg" alt="sticker bundle"/>

        <div class="banner">
          <div class="sticker-bundle-image"></div>
          <p class="sticker">Bundle Stickers And Save</p>
          <span class="contntbanner"></span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="videopnl">
  <div class="fxStock">
    <h2>FX Car</h2>

    <div class="fxcarpic">
      <a href="#car"><img id="fxcar" src="../images/home/fxcar_dt.png" alt="images"/></a></div>
  </div>

  <div class="fxStock">
    <h2 class="videotxt">Video</h2>

    <div class="fxcarpic">
      <iframe width="310" height="179" src="//www.youtube.com/embed/LHhDw1M72T8?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="maskingtrack">
    <h2 class="videotxt">FX Track</h2>

    <div class="fxcarpic">
      <a href="#track"><img id="track" src="../images/home/masking_dt.png" alt="images"/></a>
    </div>
  </div>

</div>