<div id="stock-car-details">
  <div class="background-area">
    <div class="">
      <div class="sub-header">
        <div class="header-text"><%=name%></div>
      </div>
      <div class="image">
        <img id="product-image" src="../images/car/appfx_front.jpg">
      </div>

      <div class="description">
        <ul>
          <li>Extremely Green : %100 recyclable</li>
          <li><a href="#safety">Full Product Specs</a></li>
          <li> Dimensions (4"", 4.5"", & 10.5"")</li>
          <li>Weight (1 lbs)</li>
          <li>Color : currently only black is available (Note. Black textured material for the best adhesive surface for stickers and acts as the best contrast to video screens like that of an iPhone)</li>
          <li>Cost: $<%=price%></li>
        </ul>
      </div>
      <div class="iphone-toggle">
        <input type="checkbox" name="iphone-single" value="true"><span>Sized for iPhone/iPod 5</span>
      </div>

      <div class="cart-button">
        <div id="cart-button" class="fx-button">
          <span>Add To Cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
