<ul id="menu-sec">
  <li class="car"><a class="ui-link" href="" rel="external">FX CAR<span> > </span></a></li>
  <li class="stickers"><a class="ui-link" href="" rel="external">FX STICKERS<span> > </span></a></li>
  <li class="track"><a class="ui-link" href="" rel="external">FX TRACK<span> > </span></a></li>
  <li class="app"><a class="ui-link" href="" rel="external">FX DRIVER<span> > </span></a></li>
  <li class="exchange"><a class="ui-link" href="" rel="external">DEVICE XCHANGE<span> > </span></a></li>
  <li class="safety"><a class="ui-link" href="" rel="external">PRODUCT DESIGN<span> > </span></a></li>
  <li class="blog"><a class="ui-link" href="" rel="external">ABOUT US<span> > </span></a></li>
  <li class="contact"><a class="ui-link" href="" rel="external">CONTACT US<span> > </span></a></li>
</ul>