<div id="registration-success">
  <div class="background-area">
    <p class="fx-verbiage">
      You have been successfully registered into our system. Your login details have been
      sent to the email address you have given during registration.
    </p>

    <p class="fx-verbiage">
      Please contact us at admin@appfxtoys.com for further questions.
    </p>
    <div class="submit">
      <div id="next-button" class="fx-button">
        <span>Proceed To Next Step</span>
      </div>
    </div>
  </div>
</div>