<div id="device-exchange">
  <div class="background-area">
    <div id="device-list">
      <div class="sub-header">
        <div class="header-text iphone-classic">iPhone Classic</div>
      </div>
      <div class="sub-header">
        <div class="header-text iphone3">iPhone 3G and 3GS</div>
      </div>
      <div class="sub-header">
        <div class="header-text iphone4">iPhone 4 and 4S</div>
      </div>
      <div class="sub-header">
        <div class="header-text ipod-touch3">iPod Touch 3rd Generation</div>
      </div>
      <div class="sub-header">
        <div class="header-text ipod-touch4">iPod Touch 4th Generation</div>
      </div>
    </div>
  </div>
</div>