<div id="add-device">
  <div class="background-area">
    <form>
      <div class="form-area">
        <label class="fx-label">Device Type:</label>
        <select class="select" name="deviceType" id="device-type">
          <option value=""></option>
          <option value="iphone3g">iPhone 3G</option>
          <option value="iphone3gs">iPhone 3GS</option>
          <option value="iphone4">iPhone 4</option>
          <option value="iphone4s">iPhone 4S</option>
          <option value="ipod3">iPod 3rd Generation</option>
          <option value="ipod4">iPod 4th Generation</option>
        </select>

        <label class="fx-label">Price:</label>
        <input type="text" name="price"/>
        <label class="fx-label">Description:</label>
        <textarea name="description"></textarea>
      </div>
    </form>
    <div class="submit">
      <div id="add-device-button" class="fx-button">
        <span>Add Device</span>
      </div>
    </div>
  </div>
</div>