<div id="xchange-landing">
  <div class="background-area">
    <!--<div class="xchange">-->
      <!--<img src="../images/mobile/exchange/xchange_m.png">-->
    <!--</div>-->

    <p class="fx-verbiage">
      Free to post, Free to use.
    </p>

    <p class="fx-verbiage">
      With so many devices neglected, here is a place to share with others devices that don’t have an owner.
      We thought about putting a cap on how much you can charge for your old device,
      but we trust that people we get behind our cause and allow your unused device go to a home with owner desperately wanting one, willing to give it the attention it deserves.
    </p>

    <p class="fx-verbiage">
      Please give or sell your device at a reasonable price to someone that will use and love your device
    </p>

    <p class="fx-verbiage">
      Designed to protect personal information; anyone under 18, please have your guardian
    </p>


    <div class="submit">
      <div id="search-button" class="fx-button">
        <span>Device Search</span>
      </div>
    </div>
    <div class="submit">
      <div id="create-button" class="fx-button">
        <span>Create Account</span>
      </div>
    </div>
    <div class="submit">
      <div id="add-button" class="fx-button">
        <span>Add Device</span>
      </div>
    </div>
    <div class="contact-details">
      <div class="info-details">
        <span class="fx-text"><%=email%></span>
        <span class="fx-text"><%=firstName%> <%=lastName%></span>
        <span class="fx-text"><%=address1%></span>
        <span class="fx-text"><%=city%> <%=region%> </span>
        <span class="fx-text"><%=country%></span>
        <span class="fx-text"><%=postal%></span>
      </div>
    </div>
  </div>
</div>